html {
    overflow-y: scroll;
}

.main {
    min-height: 500px;
    padding-bottom: 20px;
    background-color: #eee;
}

.page-wrapper {
    margin-top: 30px;
}

.brand {
	text-align: center;
	font-size: 10em;
	font-weight: bold;
    color: orange;
	color: rgba(205, 81, 7, 0.5);
    text-transform: uppercase;
}


/*Footer style */

.footer {
    background-color: #304F7D;
}

.copyright {
    margin: 20px 0;
    text-align: center;
    color: #eee;
}

/*Navbar style and links*/
.top-nav {
    background-color: #304F7D;
    height: 50px;
}

.navbar {
    border:none;
}

.flash {
    height: 200px;
}

.navbar a li {
    color: white;
}

.navbar a li:hover {
    text-decoration: underline;
}

.navbar li.active {
    background-color: #6489BD;
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
    padding: 15px 20px;
    background-color: #3D435B;
}

.navbar ul {
    padding-left: 0;
}

.top-nav span {
	position: relative;
	top: -104px;
}

.main-button-holder {
    position: relative;
    float: left;
    overflow: visible;
}

/*DROP DOWN MENU*/

.main-button-holder:hover .sub {
    display: block;
}

.sub {
    left: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background: rgba(100, 100, 100, 0.5);
    min-width: 260px;
    z-index: 1;
}

.sublink {
    display: block;
    height: 40px;
    padding: 10px 0 0 10px;
    color: #eee;
}


/*side nav style and link*/

.side-nav {
    margin-top: 25px;
}

.side-nav ul {
    padding-left: 0;
    list-style-type: none;
}

.side-nav ul li {

}


/*Session*/

.big-number {
    font-size: 8em;
}

.button-list {
    padding-top: 25px;
}

.active-user {
    display: inline-block;
    position: relative;
    top: -100px;
}

/*Cal*/

.day {
    margin: 10px;
}

.current {
    background-color: salmon;
}

.sunday {
    color: red;
}

.right {
    float: right;
}

.left {
    float: left;
}

.cal-button {
	background-color: #3D435B;
    color: white;
	width: 64px;
	display: inline-block;
	height: 35px;
	text-align: center;
	padding-top: 6px;
}

.cal-button a {
    color: #eee;
}

.button-holder {
    text-align: center;
    background-color: black;
}

.image-holder {
    text-align: center;
    height: 250px;
}

.image-holder h2 {
    color: #eee;
    font-size: 7em;
    margin: 0 1px 0 0;
}

.cal {
    border: 2px solid black;
}
